nav {
    background-color: #3b3b3b;
    position: fixed;
    padding: 1.5vw;
}

.linkWhite {
    color: white;
}

.cVideo {
    width: 100%;
}

.logoSite {
    margin-top: -40%;
    z-index: 10;
    margin-left: 35%;
}

/*Caixa Top e bot*/

.top {
    background-image: url(../images/bar_interior.jpg);
    height: 50vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    padding: 0;
}

.bottom {
    background-image: url(../images/drinks_background.jpg);
    height: 50vh;
    background-repeat: no-repeat;
    /*background-position: center center;*/
    background-position: center;
    background-size: cover;
    color: white;
}

.textbackg {
    background-color: rgba(0, 0, 0, 0.7);
}

/* Footer */
footer {
    background-color: #161616;
    color: white;
}

.bloco3 p {
    line-height: 1em;
}

.bloco1,
.bloco2,
.bloco3 {
    margin-top: 2%;
}

.pFormat {
    line-height: 2rem;
    margin-top: -8%;
}

.container-fluid{
    padding: 0;
    margin: 0;
}